<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconName</key>
		<string>小区</string>
		<key>imageCount</key>
		<integer>0</integer>
		<key>placeName</key>
		<string>北湖小区</string>
		<key>imageData1</key>
		<data></data>
		<key>imageData2</key>
		<data></data>
		<key>imageData3</key>
		<data></data>
		<key>string</key>
		<string></string>
	</dict>
	<dict>
		<key>imageCount</key>
		<integer>0</integer>
		<key>iconName</key>
		<string>学校</string>
		<key>placeName</key>
		<string>长春工业大学</string>
		<key>imageData1</key>
		<data></data>
		<key>imageData2</key>
		<data></data>
		<key>imageData3</key>
		<data></data>
		<key>string</key>
		<string></string>
	</dict>
	<dict>
		<key>imageCount</key>
		<integer>0</integer>
		<key>iconName</key>
		<string>超市</string>
		<key>placeName</key>
		<string>沃尔玛超市</string>
		<key>imageData1</key>
		<data></data>
		<key>imageData2</key>
		<data></data>
		<key>imageData3</key>
		<data></data>
		<key>string</key>
		<string></string>
	</dict>
	<dict>
		<key>imageCount</key>
		<integer>0</integer>
		<key>iconName</key>
		<string>公司</string>
		<key>placeName</key>
		<string>人才公司</string>
		<key>imageData1</key>
		<data></data>
		<key>imageData2</key>
		<data></data>
		<key>imageData3</key>
		<data></data>
		<key>string</key>
		<string></string>
	</dict>
</array>
</plist>
